<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EthBenue - Home</title>
    <!-- icon -->
    <script
      src="https://kit.fontawesome.com/cb233750db.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/css/output.css" />
</head>
<body class="bg-black text-white font-ubuntu">

    <%- include('../partials/header.ejs') %>
    <%- body %>
    <%- include('../partials/footer.ejs') %>
    <script src="/js/index.js"></script>
</body>
</html>