        <!-- About Header -->
        <section class="text-center lg:px-16 md:px-10 px-5 pt-10">
          <div class="">
            <div class="">
              <h2 class="relative lg:top-10 lg:text-base text-xs">About Us</h2>
            </div>
            <div>
              <p
                class="lg:text-large md:text-small text-6xl opacity-5 font-bold"
              >
                Ethereum
              </p>
            </div>
            <div class="relative lg:bottom-40 md:bottom-20 bottom-10">
              <h3
                class="font-bold lg:text-4xl md:text-3xl text-2xl italic text-left"
              >
                Pioneering Blockchain
                <br /><span class="relative lg:left-44 md:left-44 left-20"
                  >Innovation in
                  <span class="text-customGreen">Benue</span></span
                >
              </h3>
            </div>
          </div>
        </section>

        <!-- Mission and vision -->
        <section class="text-left lg:px-16 md:px-10 px-5">
          <div class="flex lg:gap-10 gap-2 lg:flex-row flex-col">
            <div class="lg:w-1/2">
              <h3
                class="lg:text-7xl md:text-6xl text-5xl font-bold text-customGray lg:mb-20 md:mb-10 mb-5"
              >
                Our Mission
              </h3>
              <p
                class="lg:mb-10 mb-5 lg:text-base md:text-base text-xs leading-4"
              >
                We are a community decated to advancing Ethreum and blockchain
                in Benue State. Our goal is to provide platform for
                collaboration, learning, and innovation, driving the adoption of
                decentralized solutions for a better future. Our mission is to
                empower developers and innovators through resources, networking
                and collabrative projects to drive decentralized solutions.
              </p>
              <img
                src="../img/pic6.png"
                alt=""
                class="rounded-2xl"
                width="624px"
                height="578"
              />
            </div>
            <div class="lg:w-1/2 lg:mt-20 mt-10">
              <h3
                class="lg:text-7xl md:text-6xl text-5xl font-bold text-customGray lg:mb-20 md:mb-10 mb-5"
              >
                Our Vision
              </h3>
              <p class="mb-10 lg:text-base md:text-base text-xs leading-4">
                We envision a world where blockchain technology is seamlessly
                intergrated into everyday life, promoting transparentcy,
                efficiency, and fairness. by nuturing talent and encouraging
                collaboration, we`re laying the foundation for a decentralized
                future.
              </p>
              <img
                src="../img/pic4.png"
                alt=""
                class="rounded-2xl"
                width="624px"
                height="578"
              />
            </div>
          </div>
        </section>
        <!-- Our Values -->
        <section class="text-center pt-28 lg:px-16 md:px-10 px-5">
          <div class="">
            <div class="relative lg:top-12">
              <h3 class="">Our Values</h3>
            </div>
            <div>
              <p
                class="lg:text-large md:text-small text-6xl opacity-5 font-bold"
              >
                Ethereum
              </p>
            </div>
            <div
              class="flex lg:flex-row flex-col justify-between relative lg:bottom-20"
            >
              <div class="relative lg:bottom-24 md:bottom-24">
                <h3
                  class="font-bold lg:text-4xl md:text-3xl text-2xl italic text-left"
                >
                  Guiding Principles <br />
                  <span class="relative lg:left-44 md:left-44 left-20"
                    >for a
                    <span class="text-customGreen">Decentralized</span>
                    Future</span
                  >
                </h3>
              </div>
              <div
                class="lg:w-1/2 text-left text-2xl flex flex-col gap-5 lg:mt-0 md:mt-0 mt-10"
              >
                <div class="">
                  <p class="bg-textGray py-2 px-4 rounded-2xl">
                    Collaboration: we believe in the power of working together
                    to achieve greater things.
                  </p>
                </div>
                <div class="">
                  <p class="bg-textGray py-2 px-4 rounded-2xl">
                    Innovation: We encourage creativity and forward-thinking in
                    the blockchain space.
                  </p>
                </div>
                <div class="">
                  <p class="bg-textGray py-2 px-4 rounded-2xl">
                    Inclusivity: We strive to create an open, welcoming
                    enviroment for all.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </section>

        <!-- Join us -->

        <section class="lg:px-16 md:px-10 px-5 text-center my-0 lg:py-0 pt-20">
          <div class="">
            <div class="">
              <h4 class="mb-4 lg:text-base text-xs">Join us</h4>
              <span class="lg:text-3xl text-customGreen font-bold"
                >Be a Part of the Blockchain Revolution</span
              >
            </div>
            <div>
              <p
                class="lg:text-large md:text-small text-6xl opacity-5 font-bold"
              >
                Ethereum
              </p>
            </div>
            <div
              class="flex lg:justify-between gap-5 lg:flex-row flex-col relative bottom-20"
            >
              <div class="">
                <h4
                  class="font-bold lg:text-4xl md:text-3xl text-2xl italic text-left md:px-32 lg:px-0 lg:mt-0 mt-10"
                >
                  Empower Change <br /><span
                    class="relative lg:left-40 md:left-32 left-20"
                  >
                    Shape the <span class="text-customGreen">Future</span> with
                    Us</span
                  >
                </h4>
              </div>
              <div
                class="lg:w-1/3 md:w-2/3 w-full lg:m-0 m-auto relative lg:bottom-20 h-1/3"
              >
              <form action="/userSubscribe" method="POST" id="subscribeForm" class="text-left">
                  <div class="flex flex-col gap-2">
                    <div class="flex flex-col gap-2">
                      <label class="ml-2" for="firstname">First name</label>
                      <input
                        type="text"
                        placeholder="First name"
                        class="rounded-xl py-3 px-2 text-black"
                        name="firstname"
                      />
                    </div>
                    <div class="flex flex-col gap-2">
                      <label class="ml-2" for="lastname">Last name</label>
                      <input
                        type="text"
                        placeholder="Last name"
                        class="rounded-xl py-3 px-2 text-black"
                        name="lastname"
                      />
                    </div>
                    <div class="flex flex-col gap-2">
                      <label class="ml-2" for="email">Email address</label>
                      <input
                        type="email"
                        placeholder="Email"
                        class="rounded-xl py-3 px-2 text-black"
                        name="mail"
                      />
                    </div>
                  </div>
                  <div class="">
                    <input
                      type="submit"
                      class="rounded-xl bg-gradient-to-r from-customDarkGreen to-customGreen py-4 px-2.5 w-full mt-7 border border-blue-800"
                      value="SUBSCRIBE"
                    />
                  </div>
                </form>
                <div id="error" style="color: red;"></div>
              <div id="success" style="color: green;"></div>
              </div>
            </div>
          </div>
        </section>
        <!-- Subscribe to our Newsletter -->
        <section class="text-center lg:px-16 md:px-10 px-5 bg-gray-950 py-16">
          <div class="">
            <h4 class="mb-4 lg:text-base text-xs">
              Subscribe to Our Newsletter
            </h4>
            <span class="lg:text-3xl text-customGreen font-bold"
              >Stay Informed, Stay Connected</span
            >
          </div>
          <div class="">
            <p class="mt-10 mb-4 lg:text-base text-xs">
              stay updated to our newsletter for the latest news, events, and
              insights from our ethreum community
            </p>
            <form action="/newsletter" method="POST" id="newsletter" class="lg:w-1/2 m-auto text-black">
              <div class="flex bg-white rounded-xl py-3 px-2">
                <input
                  type="email"
                  placeholder="WRITE YOUR EMAIL..."
                  name="email"
                  id=""
                  class="w-full rounded-xl text-black border-none"
                />
                <i class="fa-solid fa-envelope text-gray-800 text-xl"></i>
              </div>
              <div class="">
                <input
                  type="submit"
                  value="SUBSCRIBE"
                  class="rounded-xl bg-gradient-to-r from-customDarkGreen to-customGreen py-4 px-2.5 w-full mt-4 border border-blue-800"
                />
              </div>
            </form>
            <div id="e" style="color: red;"></div>
            <div id="s" style="color: green;"></div>
          </div>
        </section>