        <!-- Header Section -->
        <section class="text-center lg:px-16 md:px-10 px-5">
          <div class="">
            <div class="py-36">
              <p class="lg:text-6xl md:text-4xl text-3xl font-bold mb-5">
                Shaping the Future of Blockchain in
                <span class="text-customGreen">Benue</span>
              </p>
              <p class="lg:text-2xl text-xl mb-8">
                Join us in building a community focused on learning and
                innovation in blockchain technology.
              </p>
              <div
                class="border-r-2 border-l-2 md:rounded-3xl border-blue-800 md:px-3 inline md:py-2 lg:px-7 lg:py-5 lg:rounded-full px-4 py-6 rounded-full"
              >
                <a href="https://t.me/ethbenue"
                  class="bg-gradient-to-r from-customDarkGreen to-customGreen lg:py-4 lg:px-2.5 md:py-1.5 md:px-2.5 px-8 py-5 rounded-2xl border border-blue-800 font-ubuntu"
                >
                  <i class=""></i> Join the Community
                </a>
              </div>

              <!-- <div class="">
                <img
                  class=""
                  src="/static/media/intro_img.0a3c067de56574b5f1a3e79102a9a000.svg"
                  alt="INTRO"
                />
              </div> -->
            </div>
          </div>
        </section>
        <!-- About Us -->
        <section class="text-center lg:px-16 md:px-10 px-5 py-3">
          <!-- <div class=""> -->
          <div class="">
            <div class="">
              <div>
                <!-- <div class="bg-customGreen w-8 h-4 rounded"></div> -->
                <!-- <div class="border-t-2 w-2/5 relative top-3 left-20"></div> -->
              </div>
              <div class="mb-5 self-center">
                <h2 class="lg:text-base text-xs">About Us</h2>
              </div>
            </div>

            <h3 class="lg:text-3xl text-base text-customGreen font-bold">
              Building a Decentralized Future in Benue
            </h3>
          </div>
          <div>
            <p class="lg:text-large md:text-small text-6xl opacity-5 font-bold">
              Ethereum
            </p>
          </div>
          <div
            class="flex lg:flex-row md:flex-row flex-col justify-between relative lg:bottom-40 md:bottom-20 bottom-10 lg:mb-0 mb-10"
          >
            <h3
              class="font-bold lg:text-4xl md:text-3xl lg:text-center md:text-center text-left text-2xl italic"
            >
              Empowering <span class="text-customGreen">Benue</span><br />
              <span class="relative lg:left-44 md:left-44 left-24"
                >through blockchain.</span
              >
            </h3>
            <p
              class="lg:text-2xl md:text-base text-sm text-left lg:w-1/2 md:w-1/2 relative lg:top-20 md:top-20 lg:pl-0 md:pl-0 pl-28 lg:pt-0 md:pt-0 pt-5"
            >
              Our mission is to empower developers and innovators through
              resources, networking and collabrative projects to drive
              decentralized solutions.
            </p>
          </div>
          <!-- </div> -->
        </section>
        <!-- Events and Hangouts -->
        <section class="text-center bg-gray-950 py-20">
          <div class="px-16">
            <div class="">
              <h3 class="mb-5 lg:text-base text-xs">Events and Hangouts</h3>
              <span class="lg:text-3xl text-base text-customGreen font-bold"
                >Enjoy, Explore, Learn, and Connect</span
              >
            </div>
            <div
              class="flex md:flex-row lg:flex-row flex-col-reverse lg:gap-20 gap-10 mt-20"
            >
              <div class="text-left">
                <h4
                  class="lg:text-4xl text-3xl text-customGreen font-bold lg:mb-10 md:mb-5 mb-3"
                >
                  Eth and Mingle
                </h4>
                <p class="lg:text-2xl md:text-base text-sm">
                  Our mission is to empower developers and innovators through
                  resoures, networking and collaborative projects to drive
                  decentralized solutions.
                </p>
              </div>
              <div class="w-full">
                <div class="lg:block md:block hidden">
                  <div
                    class="border-b-2 lg:py-5 py-2.5 border-customGreen flex gap-4"
                  >
                    <div class="flex flex-col gap-1">
                      <span class="text-sm">oct </span>
                      <span class="lg:text-4xl text-2xl font-bold">24</span>
                    </div>
                    <span class="relative top-5"
                      ><i class="fa-solid fa-location-dot mr-2"></i>24.benue
                      plaza, benue</span
                    >
                  </div>
                </div>

                <div>
                  <div
                    class="border-b-2 lg:py-5 py-2.5 border-customGreen flex gap-4"
                  >
                    <div class="flex flex-col gap-1">
                      <span class="text-sm">oct </span>
                      <span class="lg:text-4xl text-2xl font-bold">24</span>
                    </div>
                    <span class="relative top-5"
                      ><i class="fa-solid fa-location-dot mr-2"></i>24.benue
                      plaza, benue</span
                    >
                  </div>
                </div>

                <div class="lg:block md:block hidden">
                  <div
                    class="border-b-2 lg:py-5 py-2.5 border-customGreen flex gap-4"
                  >
                    <div class="flex flex-col gap-1">
                      <span class="text-sm">oct </span>
                      <span class="lg:text-4xl text-2xl font-bold">24</span>
                    </div>
                    <span class="relative top-5"
                      ><i class="fa-solid fa-location-dot mr-2"></i>24.benue
                      plaza, benue</span
                    >
                  </div>
                </div>

                <div
                  class="lg:text-base text-sm underline underline-offset-8 mt-8 border-customGreen flex justify-end"
                >
                  <a href="#" class="text-customGreen"
                    >View all upcoming events and hangouts
                    <i class="fa-sharp fa-thin fa-arrow-up-right"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- Partners -->
        <!-- <section class="text-center lg:px-16 px-10 py-20">
          <div class="">
            <div class="">
              <h4 class="mb-4 lg:text-base text-xs">Our partners</h4>
              <span class="lg:text-3xl text-customGreen font-bold"
                >We collaborate with Industry Leaders</span
              >
            </div>
            <div class="mt-20">
              <div class="grid lg:grid-cols-4 md:grid-cols-4 grid-cols-2 gap-10">
                <div class="flex flex-col gap-5">
                  <p class="lg:text-2xl text-sm">Concept labs</p>
                  <img src="./img/Logo2.png" alt="Details" class="" />
                </div>
                <div class="flex flex-col gap-5">
                  <p class="lg:text-2xl text-sm">Flin groups</p>
                  <img src="./img/logo3.png" alt="Details" class="" />
                </div>
                <div class="flex flex-col gap-5">
                  <p class="lg:text-2xl text-sm">3dots</p>
                  <img src="./img/logo4.png" alt="Details" class="" />
                </div>
                <div class="flex flex-col gap-5">
                  <p class="lg:text-2xl text-sm">Nightdev</p>
                  <img src="./img/logo5.png" alt="Details" class="" />
                </div>
              </div>
            </div>
          </div>
        </section> -->

        <!-- Community Hangouts -->
        <section class="text-center lg:px-16 px-10 py-20">
          <div class="">
            <div class="">
              <h4 class="mb-5 lg:text-base text-xs">Community Hangouts</h4>
              <span class="lg:text-3xl text-customGreen font-bold"
                >Showcasting the Best of our Community</span
              >
            </div>

            <div
              class="bg-gray-950 p-3 rounded-3xl mt-12 border border-blue-800"
            >
              <div class="">
                <article class="">
                  <div class="flex gap-5">
                    <div>
                      <img
                        src="./img/cb3531de001b7eecc0a5f76718d826fe.png"
                        alt="hfkdfjkjd"
                        class="rounded-3xl"
                        width="823px"
                        height="551px"
                      />
                    </div>
                    <div class="flex flex-col justify-between">
                      <img
                        src="./img/pic2.png"
                        alt=""
                        class="rounded-3xl max-w-full"
                        width="395px"
                        height="270px"
                      />
                      <img
                        src="./img/pic3.png"
                        alt=""
                        class="rounded-3xl min-w-full"
                      />
                    </div>
                  </div>
                </article>
                <!-- <article class="">
                  <div class="">
                    <img src="" alt="" class="" />
                    <img src="" alt="" class="" />
                    <img src="" alt="" class="" />
                  </div>
                </article>
                <article class="">
                  <div class="">
                    <img src="" alt="" class="" />
                    <img src="" alt="" class="" />
                    <img src="" alt="" class="" />
                  </div>
                </article> -->
              </div>
            </div>
          </div>
        </section>

        <!-- Join us -->
        <section class="lg:px-16 px-10 text-center my-0 py-0">
          <div class="">
            <div class="">
              <h4 class="mb-4 lg:text-base text-xs">Join us</h4>
              <span class="lg:text-3xl text-customGreen font-bold"
                >Be a Part of the Blockchain Revolution</span
              >
            </div>
            <div>
              <p
                class="lg:text-large md:text-small text-6xl opacity-5 font-bold"
              >
                Ethereum
              </p>
            </div>
            <div
              class="flex lg:justify-between gap-5 lg:flex-row flex-col relative bottom-20"
            >
              <div class="">
                <h4
                  class="font-bold lg:text-4xl md:text-3xl text-2xl italic text-left md:px-32 lg:px-0 lg:mt-0 mt-10"
                >
                  Empower Change <br /><span
                    class="relative lg:left-40 md:left-32 left-10"
                  >
                    Shape the <span class="text-customGreen">Future</span> with
                    Us</span
                  >
                </h4>
              </div>
              <div
                class="lg:w-1/3 md:w-2/3 w-full lg:m-0 m-auto relative lg:bottom-20 h-1/3"
              >
                <form action="/userSubscribe" method="POST" id="subscribeForm" class="text-left">
                  <div class="flex flex-col gap-2">
                    <div class="flex flex-col gap-2">
                      <label class="ml-2" for="firstname">First name</label>
                      <input
                        type="text"
                        placeholder="First name"
                        class="rounded-xl py-3 px-2 text-black"
                        name="firstname"
                      />
                    </div>
                    <div class="flex flex-col gap-2">
                      <label class="ml-2" for="lastname">Last name</label>
                      <input
                        type="text"
                        placeholder="Last name"
                        class="rounded-xl py-3 px-2 text-black"
                        name="lastname"
                      />
                    </div>
                    <div class="flex flex-col gap-2">
                      <label class="ml-2" for="email">Email address</label>
                      <input
                        type="email"
                        placeholder="Email"
                        class="rounded-xl py-3 px-2 text-black"
                        name="mail"
                      />
                    </div>
                  </div>
                  <div class="">
                    <input
                      type="submit"
                      class="rounded-xl bg-gradient-to-r from-customDarkGreen to-customGreen py-4 px-2.5 w-full mt-7 border border-blue-800"
                      value="SUBSCRIBE"
                    />
                  </div>
                </form>
                <div id="error" style="color: red;"></div>
              <div id="success" style="color: green;"></div>  
              </div>
            </div>
          </div>
        </section>
        <!-- Subscribe to our Newsletter -->
        <section class="text-center lg:px-16 px-10 bg-gray-950 py-16">
          <div class="">
            <h4 class="mb-4 lg:text-base text-xs">
              Subscribe to Our Newsletter
            </h4>
            <span class="lg:text-3xl text-customGreen font-bold"
              >Stay Informed, Stay Connected</span
            >
          </div>
          <div class="">
            <p class="mt-10 mb-4 lg:text-base text-xs">
              stay updated to our newsletter for the latest news, events, and
              insights from our ethreum community
            </p>
            <form action="/newsletter" method="POST" id="newsletter" class="lg:w-1/2 m-auto text-black">
              <div class="flex bg-white rounded-xl py-3 px-2">
                <input
                  type="email"
                  placeholder="WRITE YOUR EMAIL..."
                  name="email"
                  id=""
                  class="w-full rounded-xl text-black border-none"
                />
                <i class="fa-solid fa-envelope text-gray-800 text-xl"></i>
              </div>
              <div class="">
                <input
                  type="submit"
                  value="SUBSCRIBE"
                  class="rounded-xl bg-gradient-to-r from-customDarkGreen to-customGreen py-4 px-2.5 w-full mt-4 border border-blue-800"
                />
              </div>
            </form>
            
            <div id="e" style="color: red;"></div>
            <div id="s" style="color: green;"></div>
          </div>
        </section>